
#cuerpo { 
	text-align : center;
}

#categorias {
	margin : auto;
}

#crear_categoria { 
	margin-top : 40px;
}

/* estilo para el panel de alta de categorías y para
 * el panel de confirmación de eliminación de categoría */
#alta_categoria, #eliminar_categoria, #eliminar_categoria_error {
	padding-top : 4%;
	padding-bottom : 5%;
}


#alta_categoria div { 
	margin-bottom : 11px;
}

#alta_categoria p, #alta_categoria label,  #alta_categoria input, #alta_categoria button {
	margin-left : 110px;
}

#eliminar_categoria, #eliminar_categoria_error {
	text-align : center;
}

