
/* Estilos comunes para todas las páginas de la web.
 * Para dar estilo a los encabezados, paneles de registro y logeo, ...
 */
 
/* clase para elementos "invisibles" */
.hidden { 
	display : none;
	visibility : hidden;
}	

/* estilo para el documento */
 
body {
	background-image : url("imagenes/background.png");
}

/* estilo para párrafos, vínculos y títulos */
p, a { 
	font-family : serif;
	font-size : 1.05em;
}

h1 {
	font-family : serif;
}

a { 
	text-decoration : none;
	color : black;
}	

/* estilo para imágenes */
.imagen p { 
	margin : 0px;
}

/* estilo para la cabecera */

#encabezado { 
	padding-left : 5%;
	padding-right : 5%;
	height : 96px;
	background-color : #4C4C4C;
	margin-bottom : 50px;
	
	position : relative;
	left : 0;
	top : 0;
}


#encabezado h1, #encabezado a, #encabezado p {
	color : white;
}


/* Estilo para el logo y el título */
#web { 
	float : left;
}

#logo { 
	float : left;
}

#titulo { 
	float : right;
	margin-left : 50px;
}

#titulo h1 { 
	margin-bottom : 0;
}

#titulo p { 
	margin-top : 0;
	font-family : Zapf Chancery, serif;
	font-size : 1.2em;
}


/* Estilo para el menú localizado a la derecha de la cabecera */
#menu {
	float : right;
}

/* Estilo para el buscador de productos */
#buscador { 
	float : left;
	margin-right : 40px;
	margin-top : 46px;
}

#buscar { 
	float : left;
	height : 32px;
}
#buscar input {
	height : 24px;
	color : black;
}

#iniciar_busqueda { 
	float : right;	
}

/* Estilo para el menú de usuario */
#logeado, #anonimo {
	float : right;
	margin-top : 20px;
}


#logeado div {
	float : left;
	margin-right : 20px;
}	

#logeado a, #anonimo a { 
	float : left;
	margin-bottom : 10px;
	font-weight : 600;
}



/* estilo para popups */
/* para dar estilo al fondo debajo del popup */
#fondo {
	background-color : black;
	position : fixed;
	top : 0;
	bottom : 0;
	left : 0;
	right : 0;
	width : 100%;
	height : 100%;
	z-index : 3000;
	opacity : 0.4;
	filter: alpha(opacity=40); /* Para IE8 y anteriores */
}

/* par dar estilo al popup */
.popup { 
	position: fixed;
	top : 30%;
	left : 30%;
	width : 40%;
	background-image : url("imagenes/background.png");
	z-index : 5000;
	border-style : groove;
	border-width : 3px;
}

/* Estilo para el panel de login y de registro */

#alta, #login {
	padding-top : 4%;
	padding-bottom : 5%;
}

#alta { 
	width : 45%;
	left : 27.5%;
}


#alta a, #login a {
	color : #3A80DF;
}

#alta div, #login div { 
	margin-bottom : 11px;
}

#alta p, #login p, #alta label, #login label {
	margin-left : 15%;
}

#alta label, #login label { 
	float : left;
	text-align : left;
	margin-right : 35px;
	width : 22%;
}

#enviarAlta, #enviarLogin { 
	margin-top : 20px;
}	


/* poner letras en rojo para los mensajes de error */
p.error { 
	color : red;
	font-style : italic;
	white-space : nowrap;
	margin-top : 8px;
	margin-bottom : 8px;
}

/* esto es para que aparezca con bordes rojos, los campos no válidos */
input.error {
	border-style : solid;
	border-width : 1px;
	border-color : red;
}



/* Estilo para dar formato a las imagenes y a los pies de imagen */
.imagen p {
	font-family : Zapf Chancery, serif;
	font-size : 1.2em;
}

/* Estilo para dar formato a los listados de productos o de categorías */
.listado td { 
	padding : 12px;
}


/* Estilo para los spans que apaerecen por encima de los inputs y los textareas,
 * que dan la apariencia de que hay texto dentro */
.overlay_container {
	position : relative;
}

.overlay { 
	position : absolute;
	top : 0;
	left : 0;
	width : 100%;
	height : 100%;
	color : gray;
	padding-top : 5px;
}
