/* estilo para dar formato al documento */

#cuerpo {
	text-align : center;
}

#indice, #productos, #ordenar {
	margin : auto;
	margin-bottom : 40px;
}

#productos td {
	padding-left : 10px;
	padding-right : 10px;
	padding-bottom :15px;
}

.eliminar:hover {
	cursor : pointer;
}

/* estilo para dar formato a los popups de la página */
#eliminar_producto, #eliminar_producto_error { 
	text-align : center;
	padding-top : 2%;
	padding-bottom : 2%;
}
